* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
}
:root {
    --primary-color: #ffc87a;
    --text-color: #1a2b5f;
}
body {
    font-family: 'Poppins', sans-serif;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1210px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
}

.header {
    padding-top: 40px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.header__menu-item {
    margin-left: 5rem;
}

.header__menu-item:last-child {
    margin-left: 7rem;
}

.header__menu-link {
    text-decoration: none;
    font-size: 1.6rem;
    color:var(--text-color);
} 

.header__menu-link:hover {
    color:var(--primary-color);
}

.header__login {
    padding: 1.5rem 2.5rem;
    display: inline-block;
    border: 1px solid;
    border-radius: 2rem;
}
.logo {
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
    color:var(--text-color);

}

.logo__text {
    color:var(--primary-color);
}