button{
    position: relative;
    transition: color .5s linear;
    font-size: 30px;
    padding: 20px 80px;
    color:#000;
    border: 1px solid #000;
    background-color:transparent;
    margin: 10px 200px;
    overflow: hidden;
}
button::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    right: -50px;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #000;
    transform: translateX(-100%);
    transition: transform .5s linear;
    z-index: -1;
}
button:hover::before{
    transform: translateX(0%);
}
button:hover{
    color:#fff;
}